#title {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 45px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: -15px;
}
#title > span:nth-child(1),
span:nth-child(4) {
  color: blue;
  font-family: Rubik Bubbles, cursive;
}
#title > span:nth-child(5),
span:nth-child(6) {
  color: red;
  font-family: Dancing Script, cursive;
  font-size: smaller;
}
#title > span:nth-child(3),
span:nth-child(9) {
  color: yellow;
  font-family: Kolker Brush, cursive;
}
#title > span:nth-child(8) {
  color: rgb(22, 203, 22);
}
div {
  text-align: center;
}

#startButton {
  background-color: #d9d9d9; /* Green */
  border: none;
  margin: auto;
  margin-top: 14%;
  color: rgb(95, 95, 95);
  padding: 10px 30px 10px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  opacity: 50%;
}
.imgHoverEvent {
  width: 200px;
  height: 200px;
  margin: 40px 0 40px 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.imgHoverEvent .imgBox {
  width: 200px;
  height: 200px;
  text-align: center;
}
.imgHoverEvent .hoverBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.hoverBox Link {
  margin-top: 60px;
  text-decoration-line: none;
}

.text {
  margin-top: 60px;
}

.event1 .hoverBox {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 5%,
    rgba(255, 255, 255, 1) 90%
  );
  opacity: 0;
  transform: translateY(60%);
  transition: 2s;
}
.event1:hover .hoverBox {
  transform: translateY(0);
  opacity: 1;
}

.event1:hover .hoverBox {
  transform: translateY(0);
}
#title > span:nth-child(1),
span:nth-child(4) {
  color: blue;
  font-family: Rubik Bubbles, cursive;
}
#title > span:nth-child(5),
span:nth-child(6) {
  color: red;
  font-family: Dancing Script, cursive;
  font-size: smaller;
}
#title > span:nth-child(3),
span:nth-child(9) {
  color: yellow;
  font-family: Kolker Brush, cursive;
}
#title > span:nth-child(8) {
  color: rgb(22, 203, 22);
}
