#title {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 45px;
  text-align: center;
  margin-top: 7%;
}

div {
  text-align: center;
}

#startButton {
  background-color: #d9d9d9; /* Green */
  border: none;
  margin: auto;
  margin-top: 18%;
  color: black;
  padding: 10px 30px 10px 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
