.question-container {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: lightgrey;

  .answer__title {
    font-weight: 700;
    padding: 12px 0px;
  }

  .answer__input {
    width: 200px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 12px;

    color: gray;

    cursor: help;
  }

  .button img {
    height: 15px;
    padding: 0px 12px;

    cursor: text;
  }
}
